table.products {
	width: 75%;
	border-collapse: collapse;
}

table.product {
	width: 50%;
	border-collapse: collapse;
}

table.general {
	width: 50%;
	border-collapse: collapse;
}

table, td, th {
	border: 1px solid black;
	padding: 5px;
}